<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body>
    <div class="topnav">
        <img src="{{ url_for('static', filename='images/small.png') }}" style="padding-left:10px; padding-top:5px">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <div class="topnav-right">
            <a class="button" href="/login">Log-in</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    {% block content %}
    {% endblock %}

    <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>

</body>

</html>