{% extends "base2.html" %}

{% block content %}
	<div id="slider" style="margin: auto; margin-top: .75em; max-width: 80%;">
		<figure>
			<img src="https://doh.gov.ph/sites/default/files/RESBAKUNA-VIBER-STICKER-LAUNCHWEB-BANNER.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/WEBSITE%20BANNER%20-%20RESBAKUNA.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/Omnibus_0.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/Plus.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/WEBSITE%20BANNER%20-%20RESBAKUNA.png" alt>
		</figure>
	</div>

	<div class="head">
	  	<h2><b>About the Group</b></h2>
	</div>

	<div class="columnsContainer">
		<div class="leftColumn">

			<div class="article">
				<p><b>THW3 - C</b></p>
				<p>
                    The group consists of <b>MARY GRACE SARA, MAXEEN BERNABE,</b> and <b>PAMELA TAYAMORA</b> as its members. The task was to create a website, the theme/topic of the members' choosing.
                    <br><br>
                    All members are currently undergraduates of the School of Library and Information Studies.
                </p>
			</div>

		</div>

		<div class="rightColumn">
			<div class="box11">
				<div class="box2 center">
					<p class="article-title">COVID-19 Vaccines and Me</p>
				</div>

				<a href="https://doh.gov.ph/Vaccines/when-will-the-COVID-19-available-to-me" target="_blank">
					<div class="box3 center">
						<p class="article-content">
							When will the COVID-19 vaccines be available to me?
						</p>
					</div>
				</a>

				<a href="https://doh.gov.ph/Vaccines/Am-I-eligible-to-get-the-COVID-19-vaccine" target="_blank">
					<div class="box3 center">
						<p class="article-content">
							Am I eligible to receive the vaccine?
						</p>
					</div>
				</a>

				<a href="https://doh.gov.ph/Vaccines/Safety-of-COVID-19-Vaccines" target="_blank">
					<div class="box3 center">
						<p class="article-content">
							Are COVID-19 vaccines safe? Do they work?
						</p>
					</div>
				</a>

				<a href="https://doh.gov.ph/Vaccines/Possible-Side-Effects-after-Getting-the-COVID-19-Vaccine" target="_blank">
					<div class="box3 center">
						<p class="article-content">
							What are the possible side effects?
						</p>
					</div>
				</a>

				<a href="https://doh.gov.ph/Vaccines/What-you-can-safely-do-after-receiving-the-COVID-19-vaccine" target="_blank">
					<div class="box3 center">
						<p class="article-content">
							I have received my COVID-19 vaccine. What can I safely do?
						</p>
					</div>
				</a>
			</div>

			<div class="box12" style="margin-top: .9em;">
				<div class="box2 center">
					<p class="article-title">Resources</p>
				</div>

				<a href="https://doh.gov.ph/vaccines/resources-local-government-units" target="_blank">
					<div class="box3 center">
						<p class="article-content">
							For Local Government Units
						</p>
					</div>
				</a>

				<a href="https://doh.gov.ph/vaccines/resources-healthcare-providers" target="_blank">
					<div class="box3 center">
						<p class="article-content">
							For Healthcare Providers
						</p>
					</div>
				</a>

				<a href="https://doh.gov.ph/Vaccines/About-COVID-19-Vaccines" target="_blank">
					<div class="box3 center">
						<p class="article-content">
							For General Public
						</p>
					</div>
				</a>
			</div>

			<div class="box13" style="margin-top: .9em;">
				<div class="box2 center">
					<p class="article-title">Hotline</p>
				</div>

				<div class="box32 center">
					<p class="article-content">
						Open to all callers nationwide:
						<br><br>
						<b>(02) 849-COVID or 1555</b>
					</p>
				</div>
			</div>
		</div>
	</div>


{% endblock %}