{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/homestyle.css">
</head>
<body style="background-image: url({{ url_for('static', filename='images/vaccinepic2.jpg') }});">

    <div class="main">
        <h1>Ikaw ba ay nakapagpa-rehistro na para sa iyong <b> bakuna kontra Covid-19?</b> </h1>
        <h2> Maaaring magsimula rito</h2>
        <div class="center">
            <a class="regbutton" href="/register">Pindutin ito</a>
        </div>
        <br>
        <h3 style="color:white">Nakapag-register na? Maaaring tingnan ang status ng iyong registration <a href="/customer" style="color:yellow"><b>dito</b></a></h3>
    </div>

    <div class="center2">
        <h1 class="announce">
            Mga karagdagang impormasyon:
        </h1>
    </div>

    <div class="icons center">
        <div class="container">
            <img src="{{ url_for('static', filename='images/icons8-inspection-64.png') }}" style="padding-right:15px">
            <a href="/faq">MGA FAQ</a>
        </div>

        <div class="container">
            <img src="{{ url_for('static', filename='images/icons8-briefcase-64.png') }}" style="padding-right:15px">
            <a href="https://drive.google.com/drive/folders/1OSEInMnGB5Fk9J1zpX35m8Nq2xZrX6vc" target="_blank">MGA POLISIYA</a>
        </div>

        <div class="container">
            <img src="{{ url_for('static', filename='images/icons8-syringe-64.png') }}" style="padding-right:15px">
            <a href="/vaccine">MGA BAKUNA</a>
        </div>

        <br><br>

        <div class="container">
            <img src="{{ url_for('static', filename='images/icons8-ask-question-64.png') }}" style="padding-right:15px">
            <a href="https://doh.gov.ph/vaccines/tanong-ng-bayan" target="_blank">MGA KATANUNGAN</a>
        </div>

        <div class="container">
            <img src="{{ url_for('static', filename='images/icons8-target-64.png') }}" style="padding-right:15px">
            <a href="https://doh.gov.ph/covid19tracker" target="_blank">COVID TRACKER</a>
        </div>

        <div class="container">
            <img src="{{ url_for('static', filename='images/icons8-timetable-64.png') }}" style="padding-right:15px">
            <a href="https://doh.gov.ph/bulletin">CASE BULLETIN</a>
        </div>
    </div>

    <div class="center3">
        <a href="https://icons8.com/">
            <p style="text-align: center">All icons from Icons8</p>
        </a>;

        <a href="https://media.npr.org/assets/img/2021/02/18/philippines-vaccine-03_custom-bd2586ffc5a65a853c1f402300e0cec68b94da99-s800-c85.webp">
            <p style="text-align: center">Image by Ezra Acayan</p>
        </a>
    </div>

</body>
</html>

{% endblock %}