	<div id="slider" style="margin: auto; margin-top: .75em; max-width: 80%;">
		<figure>
			<img src="https://doh.gov.ph/sites/default/files/RESBAKUNA-VIBER-STICKER-LAUNCHWEB-BANNER.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/WEBSITE%20BANNER%20-%20RESBAKUNA.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/Omnibus_0.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/Plus.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/WEBSITE%20BANNER%20-%20RESBAKUNA.png" alt>
		</figure>
	</div>