{% extends "base2.html" %}

{% block title %}Vaccines{% endblock %}

{% block content %}
	<div id="slider" style="margin: auto; margin-top: .75em; max-width: 80%;">
		<figure>
			<img src="https://doh.gov.ph/sites/default/files/RESBAKUNA-VIBER-STICKER-LAUNCHWEB-BANNER.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/WEBSITE%20BANNER%20-%20RESBAKUNA.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/Omnibus_0.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/Plus.png" alt>
			<img src="https://doh.gov.ph/sites/default/files/WEBSITE%20BANNER%20-%20RESBAKUNA.png" alt>
		</figure>
	</div>

	<div class="head">
	  	<h2><b>Mga Bakuna</b></h2>
	</div>

	<div class="columnsContainer">
		<div class="leftColumn">

			<div class="article">
				<p>Current evidence of the COVID-19 vaccines with Emergency Use Authorization (EUA) approvals by Philippine Food and Drug Administration.</p>
				<p><b>COVID-19 Vaccines Tracker (Selection Process and Approval)</b></p>
				<p>Updated June 2, 2021</p>
				<p>Information you need to know about the COVID-19 vaccines on our current portfolio: </p>
				<ul>
					<li>Technology Platform</li>
					<li>Issuance of Emergency Use Authorization (EUA) by the Philippine Food and Drug Administration (FDA)</li>
					<li>How many doses and interval in which each dose is taken</li>
					<li>Storage and cold chain requirements</li>
					<li>How well it will do in preventing symptomatic and severe COVID-19</li>
					<li>Common side effects you can expect following the latest Phase III clinical trials data</li>
				</ul>
			</div>

			<div class="article">

				<h3><b>Know Your Vaccines (Vaccine Matrix: Current Evidence)</b></h3>
				<br>
				<div class="w3-content w3-display-container">

					<div class="w3-display-container mySlides">
					  	<img src="{{ url_for('static', filename='images/vaccines/Vaccine Info_ASTRAZENECA.jpg') }}" style="height:100%; width:100%">
					  	<div class="w3-display-topleft w3-small w3-container w3-padding-16 w3-black">
							ASTRAZENECA
					  	</div>
					</div>

					<div class="w3-display-container mySlides">
					  	<img src="{{ url_for('static', filename='images/vaccines/Vaccine Info_BHARAT.jpg') }}" style="height:100%; width:100%">
					  	<div class="w3-display-topleft w3-small w3-container w3-padding-16 w3-black">
							BHARAT
					  	</div>
					</div>

					<div class="w3-display-container mySlides">
					  	<img src="{{ url_for('static', filename='images/vaccines/Vaccine Info_GAMALEYA SPUTNIK V.jpg') }}" style="height:100%; width:100%">
					  	<div class="w3-display-topleft w3-small w3-container w3-padding-16 w3-black">
							GAMALEYA SPUTNIK V
					  	</div>
					</div>

					<div class="w3-display-container mySlides">
					  	<img src="{{ url_for('static', filename='images/vaccines/Vaccine Info_JANSSEN.jpg') }}" style="height:100%; width:100%">
					  	<div class="w3-display-topleft w3-small w3-container w3-padding-16 w3-black">
							JANSSEN
					  	</div>
					</div>

					<div class="w3-display-container mySlides">
					  	<img src="{{ url_for('static', filename='images/vaccines/Vaccine Info_MODERNA.jpg') }}" style="height:100%; width:100%">
					  	<div class="w3-display-topleft w3-small w3-container w3-padding-16 w3-black">
							MODERNA
					  	</div>
					</div>

					<div class="w3-display-container mySlides">
					  	<img src="{{ url_for('static', filename='images/vaccines/Vaccine Info_NOVAVAX.jpg') }}" style="height:100%; width:100%">
					  	<div class="w3-display-topleft w3-small w3-container w3-padding-16 w3-black">
							NOVAVAX
					  	</div>
					</div>

					<div class="w3-display-container mySlides">
					  	<img src="{{ url_for('static', filename='images/vaccines/Vaccine Info_PFIZER.jpg') }}" style="height:100%; width:100%">
					  	<div class="w3-display-topleft w3-small w3-container w3-padding-16 w3-black">
							PFIZER
					  	</div>
					</div>

					<div class="w3-display-container mySlides">
					  	<img src="{{ url_for('static', filename='images/vaccines/Vaccine Info_SINOVAC.jpg') }}" style="height:100%; width:100%">
					  	<div class="w3-display-topleft w3-small w3-container w3-padding-16 w3-black">
							SINOVAC
					  	</div>
					</div>

					<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
					<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

				</div>

				<br>

			</div>

		</div>

		<div class="rightColumn">
			{% include 'rightColumn.html' %}
		</div>
	</div>
	<br>

	<div class="head">
	  	<h2><b>Vaccine Matrix as of 02 June 2021</b></h2>
	</div>

	<div class="center">
		<img src="{{ url_for('static', filename='images/vaccines/Know Your Vaccines as of 02 June 2021.png') }}" style="height:80%; width:80%; align">
	</div>
{% endblock %}

